In [9]:
import mypo
import numpy as np
print(mypo.__version__)

0.0.1

In [5]:
loader = mypo.Loader()

In [7]:
loader.get('VOO')
loader.get('IEF')

,Open,High,Low,Close,Volume,Dividends,Stock Splits,r,ir
Date,,,,,,,,,
2002-07-31,47.044264,47.348144,47.044264,47.313740,32600,0.0,0,1.009172,0.0
2002-08-01,47.325161,47.531571,47.313692,47.508636,71400,0.0,0,1.004119,0.0
2002-08-02,47.600414,47.990300,47.531614,47.875629,120300,0.0,0,1.007725,0.0
2002-08-05,47.978827,48.116432,47.892822,48.116432,159300,0.0,0,1.005030,0.0
2002-08-06,47.881346,47.881346,47.606131,47.726536,90100,0.0,0,0.991897,0.0
...,...,...,...,...,...,...,...,...,...
2021-02-12,117.889999,118.019997,117.750000,117.790001,8802400,0.0,0,0.996700,0.0
2021-02-16,117.269997,117.379997,116.860001,116.940002,8907000,0.0,0,0.992784,0.0
2021-02-17,117.019997,117.169998,116.879997,117.019997,4789700,0.0,0,1.000684,0.0
2021-02-18,116.830002,117.099998,116.739998,117.010002,4469900,0.0,0,0.999915,0.0
2021-02-19,116.660004,116.769997,116.370003,116.540001,5851800,0.0,0,0.995983,0.0

In [10]:
runner = mypo.Runner(
    assets=np.array([1.2, 0.8]),
    rebalancer=mypo.PlainRebalancer(np.array([0.8, 0.2])),
    cash=0.5,
    spending=0.06
)

In [11]:
runner.run(
    market=loader.get_market(),
    price_dividends_yield=loader.get_price_dividend_yield(),
    expense_ratio=np.array([0.0007, 0.0007])
)
runner.total_assets()

2.2317678679631823